#header {
  /* display: flex; */
  flex-direction: row;
  margin-bottom: 1em;
  /* background-color: rgb(248, 213, 213); */
  background-image: url('https://i.imgur.com/GCJRhiA.png');
  background-position: center; 
  background-size: 100%;
  /* -webkit-text-stroke: .7px black; */

}

#nav-button {
  color: white;
  font-size: 1.2em;
  -webkit-text-stroke: .5px black;
}

#cart {
  color: white;
  font-size: 1.2em;
  -webkit-text-stroke: .5px black;
  text-decoration: none;
  margin-left: 0.1em;
  text-transform: capitalize;
}